/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.red {
    background-color: #f72210;
}

.bg-yellow {
    background-color: #ffe400;
}

.weather img {
    height: 24px;
    width: 24px
}

.lg-image {
    width: 395px;
    height: auto;
}

.sm-image {
    width: 132px;
    height: auto;
}
